extends shared/_master

block body
    section.main-section
        header.container
            h1.white-text Create The Body You Dreamed About
            h5.white-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolore.
    section#about.scrollspy
        header.container
            h2 Who Am I
    section#help.scrollspy
    section#opinion.scrollspy
    section#contact.scrollspy